@import "./helpers/vars";
@import "./helpers/util";
@import "./helpers/fonts";

.about-us {
    margin-top: 50px;
    margin-bottom: 130px;
    .about-us__text {
        .about-us__text--item {
            font-size: 18px;
            color: $black;
            margin-bottom: 20px;
            @media(max-width:768px) {
                font-size: 14px;
            }
        }
    }
}