@import "./helpers/vars";
@import "./helpers/util";
@import "./helpers/fonts";

.casino-review {
    .casino-review__image {
        margin-top: 50px;
        margin-bottom: 40px;

        img {
            width: 100%;
            height: 473px;
            @media(max-width:560px) {
                height: 350px;
            }
            @media(max-width:420px) {
                height: 220px;
            }
        }
    }
    
    .casino-review__text {
        .casino-review__text--item {
            font-size: 18px;
            color: $black;
            margin-bottom: 15px;
            @media(max-width:768px) {
                font-size: 13px;
            }
        }
    }

    .casino-review__button {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 63px;
        
        a {
            padding: 12px 65px;
            display: inline-block;
            background-color: $main-color;
            border: 3px solid black;
            text-decoration: none;
            color: $black;
            font-size: 20px;
            font-weight: 600;
            text-transform: uppercase;
            @media(max-width:768px) {
                font-size: 14px;
                padding: 8px 38px;
            }
        }
    }
}