// Global styles.

/*
    nested classes allowed only 2 levels.
    camel case class names.
*/

// js- { prefixed classes are javascript hooks }
// c- { prefixed classes are components }
// m- { prefixed classes are module }
// u- { prefixed classes are utility }
@import "./helpers/vars";
@import "./helpers/util";
@import "./helpers/fonts";

body {
    width: 100%;
    font-family: 'GillSans';
    background-color: $body-bg;
}

ul,li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a,a:hover, a:focus {
    text-decoration: none;
}

p {
    margin: 0;
    padding:0;
}

.container {
    @media(max-width:768px) {
        padding: 0 10px !important;
    }
}

// header [[ 
.c-header {
    background-image: url("../images/header.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    min-height: 343px;
    padding-top: 15px;
    @media(max-width:560px) {
        min-height: 210px;
        background-image: url("../images/header-mobile.png");
    }

    .c-header__logo {
        width: 60px;
        height: 60px;

        img {
            width: 40px;
            height: 40px;
            margin-top: 10px;
            margin-left: 10px;
        }
        
    }

    .c-header__nav {
        .burger-container {
            display: none;
            width: 100%;
            text-align: right;
            @media(max-width:560px) {
                display: inline-block;
            }
            .burger {
                height: 50px;
                width: 50px;
                background-image: url("../images/burger.png");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 50%;
                display: inline-block;
            }
        }

        ul {
            justify-content: flex-end;
            @media(max-width:560px) {
                display: none;
            }
            .c-header__nav--item {
                padding: 30px 0 0 10px; 
                text-transform: uppercase;
                font-size: 10px;
                a {
                    color: $main-font-color;
                }
            }
        }

        .custom-dropdown {
            margin: 25px 5px 5px 12px;
            position: relative;
            padding: 0 16px 2px 18px;
            border: solid 1px #8c8173;
            border-radius: 4px;
            cursor: pointer;
            
            span {
                text-transform: uppercase;
                font-size: 10px;
                color: $main-font-color;
            }

            .glyphicon {
                font-size: 9px !important;
                margin-left: 3px;
            }

            a {
                text-transform: uppercase;
                font-size: 10px;
                color: $main-font-color; 
            }

            .custom-dropdown__menu {
                display: none;
                position: absolute;
                top: 20px;
                width: 152px;
                left: -1px;
                background: #ead7c0;
                padding: 3px 19px;
                border: solid 1px #8c8173;
                border-radius: 0 0 4px 4px;
                border-top: none;

                li {
                    padding-bottom: 3px;
                    a {
                        &:hover {
                            font-weight: 600;
                        }
                    }
                }
                
            }
        }
    }

    .c-header__title {
        text-align: center;
        margin-top: 60px;
        margin-bottom: 3px;
        @media(max-width:560px) {
            margin-top: 15px; 
        }

        p {
            font-size: 50px;
            color: $black;
            font-family: 'Austin-BoldItalic';
            @media(max-width:560px) {
                font-size: 33px;
            }
            @media(max-width:490px) {
                font-size: 23px;
            }
        }
    }

    .c-header__slogan {
        text-align: center;
        @media(max-width:560px) {
            display: none;
        }
        p{
            font-size: 17px;
            font-weight: 600;
            color: $black;
            a {
                font-size: 20px;
                text-transform: uppercase;
                text-decoration: underline;
                font-weight: 600;
                color: $black;
            }
        }
    }
}
// header ]]

// footer [[
.c-footer {
    padding-bottom: 40px;
    margin-top: 76px;

    .container {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        .c-footer__logo {
            display: inline-block;
            width: 100%;
            height: 40px;
            margin-top: 40px;
            img {
                width: 90px;
                height: 20px;
            }
        }

        p {
            font-size: 10px;
            color: $main-font-color;
            margin-top: -10px;

        }

        .c-footer__nav {
            margin-top: 20px;
            @media(max-width:650px) {
                flex-direction: column;
                align-items: center;
            }

            li {
                width: 11.6%;
                @media(max-width:992px) {
                    width: 15%;
                }
                @media(max-width:650px) {
                    width: 50%;
                }
                
                a {
                    text-transform: uppercase;
                    font-size: 9px;
                    color: $main-font-color;
                    &:hover {
                        font-weight: bold;
                        color: $black;
                    }
                }
            }

            .active {
                font-weight: bold;
                a {
                    color: $black;
                }
            }
        }

        .c-footer__terms {
            margin-top: 20px;
            @media(max-width:650px) {
                flex-direction: column;
                align-items: center;
            }

            li {
                // avoid moving when one goes bold on hover (another way is using text-shadow or letter spacing)
                width: 11.6%;  
                @media(max-width:992px) {
                    width: 15%;
                }
                @media(max-width:650px) {
                    width: 50%;
                }
                a {
                    text-transform: uppercase;
                    font-size: 9px;
                    color: $main-font-color;
                    &:hover {
                        font-weight: bold;
                        color: $black;
                    }
                }
            }
        }
    }    
}
// footer ]]

.burger-menu {
    width: 100%;
    padding: 0px 0px;
    display: none;
    ul {
        text-align: center;
        padding-top: 40px;
        li {
            a {
                font-size: 14px;
                text-transform: uppercase;
                color: $main-font-color;
                font-weight: 600;
                margin-bottom: 20px;
                display: inline-block;
            }
        }
    }
}