@import "./helpers/vars";
@import "./helpers/util";
@import "./helpers/fonts";

.cardbox {
    margin-top: 50px;
    position: relative;
    .card {
        min-height: 315px;
        border-radius: 2px;
        position: relative;
        margin-bottom: 30px;
        background-color: $main-color;
        @media(max-width:991px) {
            min-height: 335px;
        }
        img {
            width: 100%;
            height: 208px;
        }

        .card__button {
            position: absolute;
            top: 20px;
            left: 20px;
            padding: 2px 10px;
            border-radius: 2px;
            background-color: $white;
            color: $black;
            text-transform: uppercase;
            font-size: 10px;
            font-weight: 600;
        }

        .card__block {
            text-align: center;
            padding: 14px 25px;
            h4 {
                min-height: 38px;
                font-size: 18px;
                text-transform: uppercase;
                color: $black;
                font-weight: 600;
            }

            a {
                font-size: 14px;
                font-weight: 600;
                color: $black;
                text-decoration: underline;

            }
        }
    }
}

.slider {
    position: relative;
    margin-top: 120px;
    margin-bottom: 20px;

    .slider__title {
        font-size: 50px;
        color: $black;
        font-family: 'Austin-BoldItalic';
        margin-bottom: 45px;
        text-align: center;
        @media(max-width:580px) {
            font-size: 20px;
        }
    }

    .cycle-slideshow {
        @media(max-width:768px) {
            margin-left: 70px;
        }
        @media(max-width:420px) {
            margin-left: 10px;
        }
        .cycle-slide, .cycle-slide-active {
            display: flex !important;
            width: 100%;
            @media(max-width:991px) {
                flex-direction: column;
            }
            img {
                width: 500px;
                height: 318px;
                box-shadow: 0 1px 9px 0 #d8dde3;
                @media(max-width:690px) {
                    width: 350px;
                    height: 228px;
                }
                @media(max-width:662px) {
                    width: 247px;
                    height: 148px;
                }
                
            }

            .slider__item--container {
                margin-left: 88px;
                @media(max-width:991px) {
                    margin-left: 0px;
                }

                p {
                    display: block;
                    margin: 20px 0;
                    font-size: 38px;
                    color: #333333;
                    @media(max-width:662px) {
                        font-size: 23px;
                    }
    
                }

                .slider__item--text {
                    display: block;
                    font-size: 16px;
                    font-weight: 300;
                    color: $main-text-color;
                    @media(max-width:662px) {
                        font-size: 13px;
                    }
    
                }
            }
        }
    }

    .slider__button--container {
        position: absolute;
        bottom: 123px;
        display: flex;
        flex-direction: column-reverse;
        right: 44%;
        z-index: 999;
        transform: translateX(-56%);
        @media(max-width:1200px) {
            right: 38%;
        }
        @media(max-width:991px) {
            right: 21%;
            bottom: 335px;
        }
        @media(max-width:768px) {
            right: 12%;
        }
        @media(max-width:768px) {
            right: 6%;
        }
        @media(max-width:690px) {
            right: 20%;
            bottom: 285px;
        }
        @media(max-width:662px) {
            bottom: 199px;
        }
        @media(max-width:550px) {
            bottom: 214px;
        }
        @media(max-width:486px) {
            right: 5%;
        }
        @media(max-width:380px) {
            right: 0%;
            bottom: 242px;
        }
        @media(max-width:335px) {
            right: -5%;
            bottom: 274px;
        }

        button {
            border-radius: 50%;
            background-color: transparent;
            border: solid 1px rgba(0, 0, 0, 0.25);
            width: 31px;
            height: 31px;
            text-align: center;
            font-size: 13px;
            margin: 4px;
            &:focus {
                outline: none;
            }

            span {
                top: 2px;
                color: rgba(0, 0, 0, 0.25);
            }
        }
    }
}

.casino-directory {
    margin-top: 120px;
    .casino-directory__title {
        font-size: 50px;
        color: $black;
        font-family: 'Austin-BoldItalic';
        margin-bottom: 30px;
        text-align: center;
        @media(max-width:580px) {
            font-size: 20px;
        }
    }

    .casino-directory__item {
        display: flex;
        height: 386px;
        position: relative;
        margin-bottom: 65px;
        @media(max-width:991px) {
            margin-bottom: 10px;
        }
        .casino-directory__item--pic {
            height: 343px;
            width: 49.2%;
            @media(max-width:991px) {
                display: none;
            }
            img {
                width: 100%;
                height: 343px;
            }
        }

        .casino-directory__item--text {
            width: 55%;
            position: absolute;
            right: 0;
            top: 43px;
            min-height: 342px;
            background-color: white;
            padding: 70px 61px;
            @media(max-width:991px) {
                width: 100%;
            }
            @media(max-width:520px) {
                padding: 25px 25px;
            }
            p {
                font-size: 32px;
                color: #333333;
                font-family: 'Austin-Roman';
                @media(max-width:520px) {
                    font-size: 20px;
                }
            }

            span{
                font-size: 16px;
                font-weight: 300;
                color: $main-text-color;
                @media(max-width:520px) {
                    font-size: 15px;
                }

            }
        }
    }

    .reverse {
        flex-direction: row-reverse;
        .casino-directory__item--text {
            left: 0 !important;
            width: 54.6% !important;
            @media(max-width:991px) {
                width: 100% !important;
            }
        }
    }
}