@import "./helpers/vars";
@import "./helpers/util";
@import "./helpers/fonts";

.roulette-guide {
    margin-bottom: 64px;
    .roulette-guide__image {
        margin-top: 60px;
        margin-bottom: 40px;

        img {
            width: 100%;
            height: 473px;
            @media(max-width:560px) {
                height: 350px;
            }
            @media(max-width:420px) {
                height: 220px;
            }
        }
    }
    
    .roulette-guide__text {
        margin-top: 50px;
        .roulette-guide__text--item  {
            font-size: 18px;
            color: $black;
            margin-top: 15px;
            @media(max-width:768px) {
                font-size: 13px;
            }
        }
    }
}