@import "./helpers/vars";
@import "./helpers/util";
@import "./helpers/fonts";

.terms-conditions {
    padding-top: 50px;
    margin-bottom: 130px;
    .terms-conditions__text {
        .terms-conditions__text--item {
            font-size: 18px;
            color: $black;
            margin-bottom: 20px;
            @media(max-width:768px) {
                font-size: 13px;
            }
        }
    }
}