@font-face {
    font-family: 'GillSans-SemiBold';
    src: url('../fonts/GillSans-SemiBold.woff2') format('woff2'),
        url('../fonts/GillSans-SemiBold.woff') format('woff'),
        url('../fonts/GillSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'GillSans-Light';
    src: url('../fonts/GillSans-Light.woff2') format('woff2'),
        url('../fonts/GillSans-Light.woff') format('woff'),
        url('../fonts/GillSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GillSans';
    src: url('../fonts/GillSans.woff2') format('woff2'),
        url('../fonts/GillSans.woff') format('woff'),
        url('../fonts/GillSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Austin-BoldItalic';
    src: local('Austin Bold Italic'), local('Austin-BoldItalic'),
        url('../fonts/Austin-BoldItalic.woff2') format('woff2'),
        url('../fonts/Austin-BoldItalic.woff') format('woff'),
        url('../fonts/Austin-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Austin-Roman';
    src: local('Austin Text Roman Regular'), local('AustinText-Roman'),
        url('../fonts/AustinText-Roman.woff2') format('woff2'),
        url('../fonts/AustinText-Roman.woff') format('woff'),
        url('../fonts/AustinText-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

