// [[ Bootstrap defaults
$container-large-desktop: 1040px;
$grid-gutter-width: 0px;
$icon-font-path: '../fonts/';
// ]] Bootstrap defaults.

$body-bg: #f2f2f2;
$main-color: #ead7c0;
$white: #ffffff;
$black:#000000;
$main-font-color: #8c8173;
$main-text-color: #666666;